extends ../layouts/header
block content
  #container.container.clearfix  
    include ../layouts/aside
    article.mod-grey 
      section.mod-grey-hd.mod-pd-top10.tab.clearfix
        ul#tab
          - var cur = {1:'',2:''};
          - cur[result.cur] = 'cur';
          li
            h3.tab-title 问诊预约
          li
            a.pjax(href="/doctor/ask?cat=1",class=cur[1]) 未回复
          li
            a.pjax(href="/doctor/ask?cat=2",class=cur[2]) 已回复
      .mod-grey-bd.mod-grey-bd-pd20
        table.order(style="width:710px;")
          if result.doc.length
            each app in result.doc
              tbody
                tr.space
                  td(colspan="2")
                tr
                  td(colspan="2") 预约时间：#{app.time} #{app.time_b}
                    if !app.reply
                      span.fl-r(style="color:red") 未答复
                    else
                      span.fl-r 已回复  
                tr
                  td.reply 概况
                  td
                    if app.doctor.length
                      a 预约医师：#{app.doctor}
                      br
                    a 病情简述：
                      a #{app.paitent}
                if !!app.reply
                  tr
                    td.reply 回复
                    td
                      if !app.disagree
                        a(style="color:green") #{app.agreereply}
                        if !!app.replycontent
                          br 
                          a 备注：#{app.replycontent}
                      else
                        if !!app.replycontent
                          a(style="color:#888") 【预约不成功】#{app.replycontent}
                        else
                          a(style="color:#888") 【预约不成功】这个医师很懒，什么也没有说             
          else
            caption.line 没有相关信息
