extends ../layouts/header
block content
   #container
    article.mod-grey.clearfix
      if cat === 3
        section.mod-grey-hd
          a 问题咨询
          a.ml10.mr10 »
          a 医学咨询
        section.mod-grey-hd
          .q-nav
            a.btn.mr20(href="/question") 咨询首页
            a.btn.btn-inverse.mr20(href="/doctor?cat=3") 医学咨询
            a.btn.mr20(href="/service?cat=3") 政策咨询
            a.btn.mr20(href="#") 常见问题
            a.btn.mr20(href="/service?cat=2") 养老政策 
      else
        section.mod-grey-hd
          a(href="/services") 服务选择 
          a.ml10.mr10 »
          -var cats=['','问诊预约','药品购买','医学咨询']
          a #{cats[cat]}
      section.mod-grey-bd.mod-grey-bd-pd20
        if cat == 1
          //问诊预约
          if !doc
            form#wen-form(class="form form-inline",method="post",action="/doctor?cat=1")
              fieldset
                .form-item
                  label 预约时间
                  select#yuMonth(name="yuMonth")
                    -var month =new Date();
                    -for(var i=month.getMonth()+1;i<=12;i++)
                      option(value="#{i}")!{i}月
                  select#yuDay(name="yuDay")
                    -for(var i=month.getDate();i<=31;i++)
                      option(value="#{i}")!{i}日
                   select#yuTime(name="yuTime")
                     option(value="上午") 上午
                     option(value="下午") 下午
                     option(value="晚上") 晚上
                  //- span 填写预约时间
                .form-item
                  label(for="doctors") 预约医师
                  input#doctors(type="text",name="doctors")
                  //- span 如果没有就不用填写
                .form-item
                  label.fl-l 病情简述
                  textarea.bootstrap(rows="5",cols="37",name="patient")
                  //- span 简单描述一下你的病情，让医生更好对诊
                .form-item.form-actions
                  button(class="btn",type="submit") 提交预约
          else
            table.order
              tbody
                tr
                  td(colspan="2") #{doc.time} #{doc.time_b}的预约申请
                if !doc.reply
                  span.fl-l(style="color:red")未答复
                else
                  span.fl-l 已回复
                tr
                  td.reply 概况
                  td
                    if !!doc.doctor.length
                      a 预约医师：#{doc.doctor}
                      br
                    a 病情简述：#{doc.paitent}
                  if doc.reply
                    tr
                      td.reply 回复
                      td
                        a(style="color:green") #{doc.agreereply}
                        if !!doc.replycontent
                          br
                          a 备注：#{doc.replycontent} 
        if cat == 2
          //药品托购
          if !med
            a#add-med.btn-reply 增加一条
            table#med-table.order(style="width:710px;")
              tbody
                tr
                  td.reply 药品名称
                  td.reply 药品数量
                  td 描述
                  td.reply 操作
                tr#no-med
                  td(colspan="4")
                    a 还没有托购信息，点击【增加一条】进行添加，全部添加完成后请点击【提交】
              tfoot
                tr#med-sub.hide
                  td(colspan="4")
                    a.btn 提交药品托购
                tr#med-model.hide
                  td.med-name 
                    input.med-name.med-item(type="text")
                  td.reply
                    select.med-item(name="mednum")
                      -for(var i=1;i<=10;i++)
                        option(value="#{i}") #{i}
                  td 
                    input.med-description.med-item(type="text")
                  td.reply.btn-control
                     a.btn-reply.med-save 保存
                     a.btn-reply.med-cancel 取消
          else
           if !med.reply
             a 这是您在 #{med.time} 提交的托购药品的信息，目前还没有回音
           else
             a 当你领取了药品后，管理员确认后，你才可以发起新的申请，这里是你上次的药品清单
           table#show-med.table.table-top.order-table.form-inline.medicine-form
              thead.tab-title
                tr
                  th.reply 药品名称
                  th.reply 药品数量
                  th 描述
              tbody
                each item in med.medlist
                  tr
                    td.med-name= item.name
                    td.reply= item.num
                    td= item.description
              if !!med.reply
                tfoot
                  tr
                    td.reply 回复
                    td(colspan="2")
                      a #{med.replycontent} 
        if cat == 3
          //医学咨询
          form#question(class="form form-inline",method="post",action="/question",name="1")
              .form-item
                label(for="q-remark",style="width:220px") 医学问题什么的尽管杀过来吧
                input#q(type="text",name="q")
                button#qsub.btn.btn-info.ml20(type="submit") 提交问题
          #answer.flow-mod 你好，我是问医小机器人，有什么问题就问我吧！
block script
  //- script
  //-   //tab
  //-   (function(){
  //-     var tab = jixiang.$('tab');
  //-     var handler = function(event){
  //-       var pself = this;
  //-       var e = event || window.event;
  //-       defaultEvent(e);
  //-       var self = e.target || e.srcElement;
  //-       while(self.tagName.toLowerCase() !== 'a'){
  //-         self = self.parentNode;
  //-       }
  //-       if(jixiang.hasClass(self,'tab-title'))return;
  //-       if(jixiang.hasClass(self,'pjax')){
  //-          pjax(self,self.getAttribute('href'),'pjax-container',function(){
  //-              var script = document.createElement('script');
  //-              var cat = self.getAttribute('href').replace('/doctor?cat=','')
  //-              var doctor_js = jixiang.$('doctor-js');
  //-              switch(parseInt(cat,10)){
  //-                case 1 :
  //-                  script.src = '/js/doctor.js';
  //-                  break;
  //-                case 2 :
  //-                  script.src = '/js/medicine.js';
  //-                  break;
  //-                case 3 :
  //-                  script.src = '/js/question.js';
  //-                  break;
  //-              }
  //-              doctor_js.innerHTML='';
  //-              doctor_js.appendChild(script);
  //-           });
  //-       }
  //-       for(var i=0,alis=pself.getElementsByTagName('a'),len=alis.length;i<len;i++){
  //-          alis[i].className = 'pjax';
  //-       }
  //-       self.className = 'cur';
  //-     }
  //-     Utils.addHandler(tab,'click',handler)
  //-   })()