extends ../layouts/header
block content
  #container.container.clearfix
    article#service.mod-grey  
      section.mod-grey-hd.mod-pd-top10.tab.clearfix
        ul#tab
          li
            h3.tab-title 服务管理
          li
            a.cur 家政预约
      #med-admin.mod-grey-bd.mod-grey-bd-pd20
        table.order.order-w980
          if result.doc.length
            each item in result.doc
              tbody
                tr.space
                  td(colspan="2")
                tr
                  td(colspan="2")【#{item.username}】的家政服务申请
                    if !item.reply
                      a.btn-reply.fl-r(role="delete") 删除
                      a.btn-reply.fl-r.mr20(role="show-reply") 点击答复
                    else
                      span.fl-l 已回复
                tr
                  td.reply 时间
                  td #{item.time} #{item.timeB}
                tr
                  td.reply 概况
                  td 服务分类：
                    a #{item.service_cat}
                     br
                    | 备注：
                    a #{item.remark}
                if !!item.reply
                  tr
                    td.reply 回复
                    td
                      a #{item.replycontent}

                if !item.reply
                  tr.hide
                    td(colspan='2')
                      form.form.form-inline(action="/admin/service?id=#{item._id}",method="post")             
                        input(type="text",name="replycontent")
                        a.btn.ml20(role="sub",type="submit") 回复
                        a.btn.ml20(role="cancel") 取消
          else
            caption.line 目前还没有人预约  
            