extends ../layouts/header
block content
  - if (!pjax){
    | <div id="container" class="container clearfix">
  -}
    if !pjax
      //侧边导航
      include ../layouts/aside
    - if(!pjax){
       | <article id="content" class="meal">
       |   <div class="wrap">
    - }
       if !pjax
          section#doctor-nav.nav
            ul#tab.doctor-nav
              - var services=[{text:'家政服务',sub:'家电维修，搬运，保姆，打扫',cat:'1'},{text:'养老政策',sub:'养老政策信息',cat:'2'},{text:'政策咨询',sub:'咨询养老政策',cat:'3'}]
                each service,i in services
                   - var cur = '',last=''
                   if i == 0
                     - cur = 'cur'
                   if i == services.length-1
                     - last ='last'
                   li(class=last)
                     a.pjax(class=cur,href="/service?cat=#{service.cat}") #{service.text}
                       span #{service.sub}
        - if(!pjax){
          | <section id="pjax-container">
        - }
          //- p#tips 您想干嘛点什么？点击上面吧
          if cat == 1
            //家政服务
            if !doc
              form#wen-form(class="form form-inline",method="post",action="/service")
                fieldset
                  .form-item
                    label 预约时间
                    select#yuMonth(name="yuMonth")
                      -var month =new Date();
                      -for(var i=month.getMonth()+1;i<=12;i++)
                        option(value="#{i}")!{i}月
                    select#yuDay(name="yuDay")
                      -for(var i=1;i<=31;i++)
                        option(value="#{i}")!{i}日
                     select#yuTime(name="yuTime")
                       option(value="上午") 上午
                       option(value="下午") 下午
                       option(value="晚上") 晚上
                    //- span 填写预约时间
                  .form-item
                    label(for="service_cat") 服务分类
                    select(name="service_cat")
                      option(value="家电维修") 家电维修
                      option(value="搬运服务") 搬运服务
                      option(value="保姆服务") 保姆服务
                      option(value="居室打扫") 居室打扫
                      option(value="其他服务") 其他服务
                    //- span 如果没有就不用填写
                  .form-item
                    label.fl-l 备注
                    textarea.bootstrap(rows="5",cols="37",name="remark")
                    //- span 简单描述一下你的病情，让医生更好对诊
                  .form-item.form-actions
                    button(class="btn",type="submit") 提交申请
            else
              table.table.table-top.order-table
                caption #{doc.time} #{doc.timeB}的预约申请
                  if !doc.reply
                    span.fl-l(style="color:red")未答复
                  else
                    span.fl-l 已回复
                tbody
                  tr
                    td.reply 概况
                    td
                      a 分类：#{doc.service_cat}
                      br
                      a 备注：#{doc.remark}
                    if doc.reply
                      tr
                        td.reply 回复
                        td
                          if !!doc.replycontent
                            a 备注：#{doc.replycontent}
          if cat == 2
            if !detail
              //养老政策
              table.table.order-table
                thead.tab-title
                  tr
                    th 标题
                    th.reply 时间
                tbody
                  if !!doc.length
                    each item in doc
                      tr
                        td
                          a.pjax.btn-reply(href="/service?cat=2&detail=#{item._id}")= item.title
                        td.reply 2012-02-31
            else
             //养老政策文章页
             table.table.order-table
               thead.tab-title
                 tr
                   th= doc.title
               tbody
                 tr
                  td
                    p= doc.content
          if cat == 3
            //医学咨询
            form#question(class="form form-inline",method="post",action="/question",name="2")
                .form-item
                  label(for="q-remark") 提点问题
                  input#q(type="text",name="q")
                  button#qsub.btn 提交问题
            #answer.flow-mod 你好，我是养老小机器人，有什么问题就问我吧！
    - if(!pjax){
      |         </section>
      |      </div>
      |   </article>
      | </div>
    - }
block script
  script(src="/js/service.js")
  if cat == 3
    #service-js
