extends ../layouts/header
block content
  #container.container.clearfix
    article#people.mod-grey  
      section.mod-grey-hd.mod-pd-top10.tab.clearfix
        ul#tab
          li
            h3.tab-title 人员管理
          li
            a(href="/admin/people") 普通用户
          li
            a.cur 管理员
      .mod-grey-bd.mod-grey-bd-pd20
        table.order(style="width:710px;")
          thead
            tr
              th UID
              th 用户名
              th 性别
              th 出生年月
              th 最近登入时间
          tbody
            each user in people
              tr
                td= user._id
                td= user.username
                td= user.sex
                td= user.birthday
                td= user.logindate