extends ../layouts/header
block content
  #container.container.clearfix
    article#question.mod-grey
      section.mod-grey-hd.mod-pd-top10.tab.clearfix
        ul#tab
          li
            h3.tab-title 问题管理
          li
            a.cur 问题列表
          li
            a(href="/admin/question/noreply") 未回复的问题
        a.mr10.mt10.fl-r(href="/admin/question/add") 添加新问题
      .mod-grey-bd.mod-grey-bd-pd20
        div.tab-nav.form-inline
          - var selMenus = [{text:'所有',cat:0},{text:'问医',cat:1},{text:'家政',cat:2},{text:'政策',cat:3},{text:'其他',cat:4}]
          select#sel-cat
            each item in selMenus
              - var selected = false
              if pagecat == item.cat
                - selected = true
              option(value=item.cat,selected=selected)= item.text
          input.fl-r(type="text")
        if !!answers.length
          each answer in answers
            table.order.order-w980 
              thead.tab-title
                tr
                  th.cat 分类
                  th 内容
                  th.cat 操作
              tbody
                tr.cur
                  td.cat
                    a #{answer.cat}
                  td 
                    a 问：#{answer.title}
                  td.cat
                    a.btn-reply(href="/admin/question/edit?id=#{answer._id}") 修改
                tr
                  td.cat 解答
                  td 答：#{answer.content}
                    a.useinfo [
                     span.useful 有用：#{answer.useful}
                     span.useless 没用：#{answer.useless}  
                     |]
                  td.cat
                    a.btn-reply.delete.sub(href="/admin/question/delete/#{answer._id}") 删除

        else
          table.table.table-top.order-table
              caption.line 没有问题，请点击添加问题进行添加
