extends ../layouts/header
block content
  #container.container.clearfix
    article#notice-history.mod-grey  
      section.mod-grey-hd.mod-pd-top10.tab.clearfix
        ul#tab
          li
            h3.tab-title 公告管理
          li
            a(href="/admin/notice") 发布公告
          li
            a.cur 历史公告
      .mod-grey-bd.mod-grey-bd-pd20
        table.order(style="width:710px;")
          thead
            tr
              th 公告日期
              th 发布者
              th 公告内容
          tbody
            if notice.length
              each item in notice
                tr(data-id="#{item.id}")
                  td= item.publish_date
                  td= item.author
                  td.span240
                    a(title="#{item.content}") #{item.content}
            else
              tr
                td 暂无公告
        include ../layouts/pagenav