extends ../layouts/header
block content
  #container.container.clearfix
    //侧边栏导航
    include aside
    article.read-style.meal.category
      section.line
        h3 #{cat}
      .bd.clearfix
        ul.cat-list.clearfix
          if meals.length
            each meal in meals
              li
                .cat-img
                  a(href="/meal/detail/#{meal.id}")
                    img(src="/images/meal/#{meal.pic}")
                .cat-info.non-indent
                  h3 #{meal.name}
                  p
                    span.label.fl-l 喜欢：
                    -var flag=false
                     each item in meal.like
                       if item == user.uid
                         -flag=true
                         -break
                    if flag
                      a.like-red &nbsp;
                    else
                      a.like-gray(href="/meal/like/#{meal.id}") &nbsp;
                    span #{meal.like.length}
                  p
                    span.label 供应商：
                    span.label-text #{meal.supplier}
                  p
                    span.label.label-block ￥：#{meal.price}&nbsp;元
                    a.common-btn.red-btn.meal-add-order(name="#{meal.id};#{meal.name};#{meal.price}") 加入到订单
          else
            p 没有相关菜品        