extends ../layouts/header
block content
  #container.container.clearfix
    //侧边导航
    include aside
    article.read-style.meal
      section.slide
        img(src="/images/meal.jpg",alt="人生在世，吃喝二字")

      section.my-meal
        h3 社区精选
        .bd.meal-recommend
          if(meals.lenght)
          ul
           each meal,i in meals
            li
              .meal-info
                a.meal-title= meal.name
                 -var flag=false
                  each item in meal.like
                    if item == user._id
                      -flag=true
                      -break
                if flag
                  a.like-red &nbsp;
                else
                  a.like-gray(href="/meal/like/#{meal._id}",title="喜欢")&nbsp;
                span #{meal.like.length}
              a(href="/meal/detail/#{meal._id}")
                img(src="/images/meal/#{meal.pic}",alt="#{meal.name}")
