extends ../layouts/header
block content
  #container
    script
      var order = !{result.order}
    article.container
      section.mod-grey-hd
        img.center(src="/images/meal.jpg",alt="人生在世，吃喝二字")
      section.mod-grey-bd.container
        h3.business-title 请选择商家进入订餐
        #business-list
          if result.shop.length
            each shop in result.shop
              a.business-item.mod-grey(href="/meal/shop?id=#{shop._id}")
                .mod-grey-hd
                  span= shop.name
                .mod-grey-bd
                  img(src="/images/shop/#{shop.pic}",width="200",height="150")
                .mod-grey-ft
                  p= shop.des
          else
            a 还没有商家入驻哦
