form#my-meal-order(action="/meal/order",method="post")
  if !!orders.mealid
    input#mealId(type="hidden",value="#{orders.mealid}")
  else
    input#mealId(type="hidden",value="0")

  if !!orders.mealid
    -var total=0
    ul.meal-order
      each item in orders.orderlist
        -total+=parseInt(item.mealprice,10)
        li
          span.label #{item.mealname}
          span.label ￥：
          span.label-text #{item.mealprice}&nbsp;元
          a.meal-del-btn(name="#{item.mealname};#{item.mealprice}") 删除

    -var hide
    if total == 0
      hide = 'hide'
    else
      hide = ''

    #order-all.action.order-all(class= hide)
        span.label 汇总
        span.label ￥：
        span.label-text !{total}&nbsp;元
    #sub-meal.action.action-center(class= hide)
      a#sub-meal-order.common-btn.pink-btn 提交订单
  else
    ul.meal-order
    #order-all.action.order-all.hide
      span.label 汇总：
      span.label ￥：
      span.label-text 0&nbsp;元
    #sub-meal.action.action-center.hide
      a#sub-meal-order.common-btn.pink-btn 提交订单

  if !orders.mealid&&(!sendLen&&subLen)
    #no-order.action
      a 还没有订单  

  //订单情况
  if !!sendLen
    .action
      a(href="/meal/order/send") 当前有#{sendLen}条订单已配送

  if !!subLen
    .action
      a(href="/meal/order/sub") 当前有#{subLen}条订单等待配送


        