extends ../layouts/header
block content
  #container.container.clearfix  
    include ../layouts/aside
    article.mod-grey 
      section.mod-grey-hd.mod-pd-top10.tab.clearfix
        ul#tab
          -var cur = {'sub':'','send':'','done':''};
          - cur[orderCur] = 'cur';
          li
            h3.tab-title 我的订餐
          li
            a.pjax(href="/meal/order/sub",class=cur['sub']) 未配送
          li
            a.pjax(href="/meal/order/send",class=cur['send']) 已配送
          li
            a.pjax(href="/meal/order/done",class=cur['done']) 已完成
       #order-info.mod-grey-bd.mod-grey-bd-pd20
          if result.orders.length
            table.order(style="width:710px;")
              each order in result.orders
                tbody
                  tr.space
                    td(colspan="4")
                  tr
                    td(colspan="4") 提交时间：#{order.ordertime}
                      if order.isSend && !order.isDone
                        a.fl-r.btn-reply(href="/meal/order/done?id=#{order._id}") 我已收到
                  each item,index in order.list
                    tr
                      td= item.name
                      td= item.price 
                        |&nbsp;元
                      td= item.num
                        |&nbsp;份
                      if index === 0
                        td.total(rowspan="#{order.list.length}") 总价：#{order.total}&nbsp;元
          else
            table.order(style="width:710px;")
              caption.line 没有相关信息
//- block script
//-   script(src="/js/meal.js")