extends ../layouts/header
block content
  #container.container.clearfix
    //侧边导航
    include order_aside
    article.read-style
      section.admin-title.line.clearfix
        h1.fl-l #{title}

      table.table.table-top
        thead
          tr
            th 订单号
            th 完成时
            th 订单列
            th 总价
            th 状态
        tbody
          if !!orders.length
            each order in orders
              tr
                td= order.id
                td= order.donetime
                td
                  -var total=0
                  if order.orderlist.length
                    ul
                      each item in order.orderlist
                        -total+=parseInt(item.mealprice,10)
                        li !{item.mealname}：!{item.mealprice}
                td !{total}元
                td
                  a.common-btn.grey-btn 已完成
          else
            tr
              td 没有订单