extends ../layouts/header
block content
  #container.container.clearfix
    article.mod-grey  
      section.mod-grey-hd.mod-pd-top10.tab.clearfix
        ul#tab
          li
            h3.tab-title 问医管理
          li
            a.cur 问诊预约
          li
            a(href="/admin/doctor/medicine") 药品托购
      #med-admin.mod-grey-bd.mod-grey-bd-pd20
        table.order.order-w980
          if result.doc.length
            each item in result.doc
              tbody
                tr.space
                  td(colspan="2")
                tr
                  td(colspan="2") 【#{item.username}】的就诊预约
                    if !item.reply
                      a.btn-reply.fl-r(role="delete") 删除
                      a.btn-reply.fl-r.mr20(role="show-reply") 点击答复
                    else
                      span.fl-l 已回复
                tr
                  td.reply 时间
                  td #{item.time} #{item.timeB}
                tr
                  td.reply 概况
                  td
                    if !!item.doctor.length
                      | 预约医师：
                      a #{item.doctor}
                      br
                    | 病情简述：
                    a #{item.paitent}
                if !!item.reply
                  tr
                    td.reply 回复
                    td
                      if !item.disagree
                        a(style="color:green") #{item.agreereply}
                        br 
                        if !!item.replycontent
                          a 备注：#{item.replycontent}
                      else
                        if !!item.replycontent
                          a(style="color:#888") 【回绝了该预约】#{item.replycontent}
                        else
                          a(style="color:#888") 【回绝了预约】你什么都没留下

                if !item.reply
                  tr.hide
                    td(colspan='2')
                      form.form.form-inline(action="/admin/doctor?id=#{item._id}",method="post")
                        |可约在
                        select#yuMonth(name="yuMonth")
                          - var month = new Date(item.time).getMonth()+1
                          - for(var i=1;i<=12;i++)
                              - var selected=false
                              if i == month
                                - selected = true
                              option(value="#{i}",selected=selected)!{i}月
                        select#yuDay(name="yuDay")
                         - var day = new Date(item.time).getDate()
                         - for(var i=1;i<=31;i++)
                            - var selected = false
                            if i == day
                              - selected = true
                            option(value="#{i}",selected=selected)!{i}日
                        select#yuHour(name="yuHour")
                          - for(var i=0;i<24;i++)
                            if i<10
                              -i='0'+i
                            option(value="#{i}") #{i} : 00
                        
                        br
                        label(style="width:auto") 备注
                        input(type="text",name="replycontent",placeholder="补充说明..")
                        a.btn.ml10(role="sub",type="submit") 可约
                        a.btn.ml10(role="cancel") 取消
                        a.btn.btn-danger.fl-r(role="deny",data-url="/admin/doctor?id=#{item._id}&disagree=1") 拒绝
          else
            caption.line 目前还没有人预约   
            