extends ../layouts/header
block content
  #container.container.clearfix
    article#notice-history.mod-grey  
      section.mod-grey-hd.mod-pd-top10.tab.clearfix
        ul#tab
          li
            h3.tab-title 问医管理
          li
            a(href="/admin/doctor") 问诊预约
          li
            a.cur 药品托购
      .mod-grey-bd.mod-grey-bd-pd20
        if !!doc.length
          each med in doc
            table.order.order-w980
              caption 【#{med.username}】的药品托购委托
                if !med.reply
                  a.reply.btn-reply 删除
                  a.reply.btn-reply.doreply 点击答复
                else
                  span.fl-l 已回复
              tbody
                tr
                  td.reply 药品名称
                  td.reply 药品数量
                  td 描述
                each item in med.medlist
                  tr
                    td.med-name= item.name
                    td.reply= item.num
                    td= item.description
              if !med.reply
                tfoot.hide
                  tr
                    td(colspan='3')
                      form.form.form-inline(action="/admin/doctor/medicine",method="post")
                        input(type="hidden",value="#{med._id}",name="askid")              
                        input(type="text",name="reply")
                        button.btn(type="submit") 回复
              else
                tfoot
                  tr
                    td.reply 回复
                    td(colspan="2") #{med.replycontent}
                      a.btn-reply.fl-r.donereply(name="#{med._id}") 【已经发放了该药品请点击这里】   
            