extends ../layouts/header
block content
  #container.container.clearfix
    //侧边导航
    include ../layouts/aside
    article.read-style
      section.admin-title.line.clearfix
        h1.fl-l 订餐管理
        a.common-btn.grey-btn.m20 菜品管理
        a.common-btn.pink-btn.fl-r(href="/admin/meal") 订单管理
        a.common-btn.pink-btn.fl-r(href="/admin/meal/add") 添加新菜品

      table.table.table-top
        thead
          tr
            th 菜品编号
            th 名称
            th 分类
            th 热度
            th 供应商
            th 价格
            th 描述
            th 推荐
            th 操作
        tbody
          if meals.length
            each meal in meals
              tr
                td= meal.id
                td= meal.name
                td= meal.cat_name
                td= meal.like.length
                td= meal.supplier
                td= meal.price
                td= meal.description
                td= meal.handpick
                td
                  a.edit.common-btn(href="/admin/meal/edit/#{meal.id}") 编辑
                  a.delete.common-btn.sub(href="/admin/meal/delete/#{meal.id}") 删除
          else
            tr
              td 暂无菜品信息，点击添加新菜品