extends ../layouts/header
block content
  #container.container.clearfix
    //侧边栏导航
    include ../layouts/aside
    article.read-style
      section.admin-title.line.clearfix
        h1.fl-l 订餐管理
        a.common-btn.grey-btn.m20 修改菜品
        a.common-btn.pink-btn.fl-r(href="/admin/meal/control") 菜品管理
        a.common-btn.pink-btn.fl-r(href="/admin/meal") 订单管理

      section.add-meal
        form(action="/admin/meal/edit",method="post",enctype="multipart/form-data")
          input(type="hidden",name="id",value="#{meals.id}")
          input(type="hidden",name="meal_like",value="#{meals.id}")
          .detail-img-bg
            .detail-img
              img(src="/images/meal/#{meals.pic}",alt="#{meals.name}")
          input(type="file",name="upload",value="#{meals.pic}")
          .detail-info.non-indent.m20
            p
              span.label 菜品名称：
              input(type="text",name="meal_name",value="#{meals.name}")
            p
              span.label 推荐：
              -var flag1=false,flag2=false
              if meals.handpick == '是'
                -flag1=true
              else
                -flag2=true
              label
                input(type="radio",name="meal_handpick",value="1",checked=flag1)
                |是
              label
                input(type="radio",name="meal_handpick",value="2",checked=flag2)
                |否
            p
              span.label 菜品分类：
              -var cats=[{name:'早餐',value:'1'},{name:'午餐',value:'2'},{name:'下午茶',value:'3'},{name:'晚餐',value:'4'}]
              select(name="meal_cat")
                each cat in cats
                  -var cur=false
                  if meals.cat_name == cat.name
                    -cur=true
                  option(value="#{cat.value}",selected=cur) #{cat.name}
            p
              span.label 菜品供应商：
              input(type="text",name="meal_supplier",value="#{meals.supplier}")
            p
              span.label 菜品价格：
              input(type="text",name="meal_[rice",value="#{meals.price}")
            p
              span.label 描述：
              textarea(name="meal_description",cols="50",rows="10") #{meals.description}
            p
              span.label &nbsp;
              button(type="submit") 修改