extends ../layouts/header
block content
  #container.container.clearfix
    article#notice.mod-grey  
      section.mod-grey-hd.mod-pd-top10.tab.clearfix
        ul#tab
          li
            h3.tab-title 订餐管理
          li
            a(href="/admin/meal") 订单管理
          li
            a.cur 商家管理
        a.fl-r.btn.mr10(href="/admin/meal/addshop") 添加新商家
      .mod-grey-bd.mod-grey-bd-pd20
        table.order(style="width:710px;")
          if result.shoplist.length
            each order in result.shoplist
              tbody
                tr.space
                  td(colspan="4")
                tr
                  td(colspan="4") 提交时间：#{order.ordertime} 提交者：#{order.user}
                    if !order.isSend
                      a.fl-r(href="/admin/order/send/#{order._id}") 配送该订单
                    else
                      a.fl-r 已配送
                each item,index in order.list
                  tr
                    td= item.name
                    td= item.price 
                      |&nbsp;元
                    td= item.num
                      |&nbsp;份
                    if index === 0
                      td.total(rowspan="#{order.list.length}") 总价：#{order.total}&nbsp;元
          else
            p 没有信息
            