extends ../layouts/header
block content
  #container.container.clearfix
    article#notice.mod-grey  
      section.mod-grey-hd.mod-pd-top10.tab.clearfix
        ul#tab
          li
            h3.tab-title 订餐管理
          li
            a(href="/admin/meal") 订单管理
          li
            a.cur 商家管理
        a.fl-r.btn.mr10(href="/admin/meal/addshop") 添加新商家
      .mod-grey-bd.mod-grey-bd-pd20
        table.order(style="width:710px;")
          tr
            td 商家编号
            td 商家名称
            td 商家描述
            td 入驻时间
            td 操作
          if result.shoplist.length
            each shop in result.shoplist
              tr
                td= shop._id
                td= shop.name
                td= shop.des
                td= shop.joindate
                td.td-center
                  a.btn-reply.mr10(href="/admin/meal/editshop?id=#{shop._id}") 修改
                  a.btn-reply 删除
          else
            tr
              td(colspan="4") 暂时没有商家